@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
}

.col-1{
	width: 100%;
	display: inline-block;
	background-color: #538DD5;
}

.col-2{
	width: 50%;
	display: inline-block;
	float: left;
	padding: 10px 0 0 0;
}




@media only screen and (max-width: 768px) {
	.col-2{
		width: 100%;
	}

}
